*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1{
    color: white;
    font-size: 5rem;
}

.ScrollContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    .scroll-section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
}

.Header{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    color: white;
    opacity: 0.5;
}

.show{
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
}

.hidden-left{
    opacity: 0;
    transition: .4s;
    transform: translateX(-4rem);
}

.hidden-right{
    opacity: 0;
    transition: .4s;
    transform: translateX(4rem);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.test-content-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: auto;
    h1{
        width: 100%;
        color: white;
    }
    h2{
        width: 100%;
    }
    p{
        width: 100%;
    }
}

.Navbar{
    position: fixed;
    bottom: 0;
    margin-bottom: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
    button{
        width: 20px;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 100%;
        border: 1px solid black;
        background-color: white;
        opacity: 0.5;
        cursor: pointer;
    }
}

@media (max-width:550px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
    }
}